
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

<head>

<!--
    ===========
    GLOBAL META
    ===========
-->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

<!--
    ==================
    PAGE-SPECIFIC META
    ==================
-->

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

<!--
    ======
    STYLES
    ======
    The number of stylesheets here must be kept to a minimum.
    Unless adding a significant amount of CSS that is specific to a single page
    or section of the site, all new styles should be added to src/static/css/app.less.
-->

<!--[if lt IE 9]>      <link rel="stylesheet" href="{{ "/static/css/icass-main.ie.css" | prepend: site.baseurl }}"> <![endif]-->
<!--[if gt IE 8]><!--> <link rel="stylesheet" href="{{ "/static/css/icass-main.css" | prepend: site.baseurl }}"> <!--<![endif]-->

<!--
    ============
    HEAD SCRIPTS
    ============
    The following scripts must be included in the head. DO NOT ADD ANY MORE.
    All other scripts should go before the closing body tag.
    If you come across a script that makes a convincing case to be included in
    the head, then file an issue or PR to discuss including it.
-->

<!--[if lt IE 9]>
    <script src="{{ "/static/vendor/html5shiv/html5shiv-printshiv.min.js" | prepend: site.baseurl}}"></script>
<![endif]-->

    <script>
        // Confirm availability of JS and remove no-js class from html
        var docElement = document.documentElement;
        docElement.className = docElement.className.replace(/(^|\s)no-js(\s|$)/, '$1$2');
    </script>

</head>
